<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact Mike Lumetta at mlumett1@swarthmore.edu. Based on tutorial
  by Michael Hartl, 
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>.
</p>
